/* html{
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
}

body{
  padding-top: 20%;
}

.in_dev{
  margin: 0;
  justify-content: center;
  white-space: nowrap;
  font-family: "Courier New";
  color: #bd2626;
  letter-spacing: 2px;
  overflow: hidden;
  border-right: 4px solid red;
  animation: typing 4s steps(15, end), blink .7s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #263dbd; }
}

.toxic {
  padding-top: 50px;
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.toxic:after {
  content: " ";
  display: flex;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #bd2626;
  border-color: #bd2626 transparent #bd2626 transparent;
  animation: toxic 5s infinite;
}
@keyframes toxic {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
} */

[class~=in_dev]{margin-left:0;}html{background-color:black;}[class~=in_dev]{margin-bottom:0;}[class~=in_dev]{margin-right:0;}html{display:flex;}[class~=in_dev]{margin-top:0;}html,[class~=in_dev]{justify-content:center;}html{height:100%;}[class~=in_dev]{white-space:nowrap;}[class~=in_dev]{font-family:"Courier New";}[class~=in_dev]{color:#bd2626;}body{padding-top:20%;}[class~=in_dev]{letter-spacing:.020833333in;}[class~=in_dev]{overflow:hidden;}[class~=in_dev]{border-right-width:4px;}[class~=in_dev]{border-right-style:solid;}[class~=in_dev]{border-right-color:red;}[class~=in_dev]{border-image:none;}[class~=in_dev]{animation:typing 4s steps(15,end),blink .7s step-end infinite;}@keyframes typing{from{width:0;}to{width:100%;}}@keyframes blink{from,to{border-color:transparent;}50%{border-color:#263dbd;}}[class~=toxic]:after{content:" ";}[class~=toxic]:after{display:flex;}[class~=toxic]:after{border-radius:50%;}[class~=toxic]:after{width:0;}[class~=toxic]:after{height:0;}[class~=toxic]{padding-top:3.125pc;}[class~=toxic]{margin-left:auto;}[class~=toxic]:after{margin-left:.5pc;}[class~=toxic]:after{margin-bottom:.5pc;}[class~=toxic]:after{margin-right:.5pc;}[class~=toxic]{margin-bottom:auto;}[class~=toxic]:after{margin-top:.5pc;}[class~=toxic]{margin-right:auto;}[class~=toxic]:after{box-sizing:border-box;}[class~=toxic]:after{border-left-width:.333333333in;}[class~=toxic]{margin-top:auto;}[class~=toxic]:after{border-bottom-width:.333333333in;}[class~=toxic]{position:relative;}[class~=toxic]:after{border-right-width:.333333333in;}[class~=toxic]{width:5pc;}[class~=toxic]:after{border-top-width:.333333333in;}[class~=toxic]:after{border-left-style:solid;}[class~=toxic]:after{border-bottom-style:solid;}[class~=toxic]{height:80px;}[class~=toxic]:after{border-right-style:solid;}[class~=toxic]:after{border-top-style:solid;}[class~=toxic]:after{border-left-color:transparent;}[class~=toxic]:after{border-bottom-color:#bd2626;}[class~=toxic]:after{border-right-color:transparent;}[class~=toxic]:after{border-top-color:#bd2626;}[class~=toxic]:after{border-image:none;}[class~=toxic]:after{animation:toxic 5s infinite;}@keyframes toxic{0%{transform:rotate(0);animation-timing-function:cubic-bezier(.55,.055,.675,.19);}50%{transform:rotate(900deg);animation-timing-function:cubic-bezier(.215,.61,.355,1);}100%{transform:rotate(1800deg);}}
